@import "../../../assets/sass/mixins";
@import "../../../assets/sass/vars";

.lang-switcher {
    position: relative;
    display: inline-block;
    .lang-switcher-top {
        display: flex;
        align-items: center;
        color: currentColor;
        line-height: 1.6;
    }
    img {
        margin-right: 5px;
    }
    a {
        color: $dark_color;
    }
    ul {
        position: absolute;
        background: #fff;
        list-style: none;
        margin: 0 0px;
        padding: 0px;
        transform: translateY(40px);
        transition: all .3s ease;
        top: 100%;
        box-shadow: 0 3px 30px rgba(25, 30, 35, 0.1);
        border: 1px solid $color_border;
        opacity: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        z-index: 65;
        min-width: 150px;
    }
    li {
        text-align: left;
    }
    &.hide-lang-name {
        ul {
            width: 50px;
            text-align: center;
            li {
                a {
                    padding: 8px 8px;
                }
            }
        }
        a {
            img {
                margin-right: 0px;
            }
        }
    }
    &.show-lang-code {
        text-transform: uppercase;
        ul {
            width: 65px;
            li {
                a {
                    padding: 8px 8px;
                }
            }
        }
    }
    li {
        list-style: none;
        a {
            display: block;
            width: 100%;
            padding: 10px 15px;
            color: $dark_color_link;
            &:hover,  &.focus {
                background: rgba(0,0,0,0.015);
                color: $dark_color_link_hover;
            }
        }
    }
    li a, .lang-switcher-top {
        font-size: 0.875em;
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }
    &:hover, &.focus {
        ul {
            height: auto;
            transform: translateY(0);
            overflow: initial;
            visibility: visible;
            opacity: 1;
        }
    }

    @each $device in (desktop, tablet, mobile) {
        @include for_device($device) {
            &.align-#{$device}-left {
                .lang-switcher-list {
                    left: 0;
                }
            }
            &.align-#{$device}-right {
                .lang-switcher-list {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

// Header Contact
.builder-contact--item {
    list-style: none;
    margin: 0px; padding: 0px;
    display: flex;
    font-size: 15px;
    @include for_device( desktop ) {
        &.cont-desktop-vertical {
            display: block;
        }
    }
    @include for_device( mobile ) {
        &.cont-mobile-vertical {
            display: block;
        }
    }
    li {
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 16px;
        &:last-child {
            margin-right: 0px;
        }
        a, span {
            display: flex;
            align-items: center;
        }
    }
    .c-icon {
        margin-right: 5px;
        padding: 1em;
        line-height: 1;
        position: relative;
        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.cont-desktop-vertical {
    .icon-box-item {
        margin-bottom: 1em ;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.header-menu-sidebar {
    .cont-mobile-vertical {
        li {
            display: block;
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
            a, span {
                display: inline-flex;
            }
        }
    }
}

.header-menu-sidebar {
    .hca-sidebar-vertical {
        &.builder-contact--item {
            display: block;
            li {

            }
        }
    }
}

/* Icon Box */
.icon-box {
    display: inline-flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
    .icon-box-item {
        display: inline-flex;
        align-items: center;
        margin-right: 25px;
        font-size: 15px;
        &:last-child {
            margin-right: 0px;
        }
        .icon-box-inner {
            display: flex;
            align-items: center;
        }
        .icon-box-icon {
            align-items: center;
            font-size: 1.8em;
            margin-right: 15px;
        }
        .icon-box-flex {
            display: inline-flex;
        }
        .icon-box-label {
            flex-direction: column;
            text-align: left;
            @include rtl() {
                order: 2;
            }
            span {
                display: block;
                margin-bottom: 0px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .icon-box-title {
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 0.3px;
        }

        .icon-box-sub-title {
            font-weight: 600;
            margin-top: -2px;
        }
    }

    &.cont-desktop-vertical {
        @include for_device( tablet_up ){
            display: block;
            li {
                display: flex;
                margin-right: 0px;
            }
        }
	}
	
	&.cont-mobile-vertical {
        @include for_device( mobile ){
            display: block;
            li {
                display: flex;
                margin-right: 0px;
            }
        }
    }
}

.header-menu-sidebar {
    .hca-sidebar-vertical {
        &.icon-box {
            display: block;
            li {
                display: block;
                margin-right: 0px;
                margin-bottom: 1em;
                &:last-child {
                    margin-bottom: 0;
                }
                .icon-box-inner {
                    display: inline-flex;
                }
            }
        }
    }
}

// Skin Mode for pro builder items.

.header--row-inner.dark-mode {
    .builder-contact--item,
    .icon-box {
        color: $light_color_link;
        a {
            color: $light_color_link;
            &:hover {
                color: $light_color_link_hover;
            }
        }
    }
}

.header--row-inner.light-mode {
    .builder-contact--item,
    .icon-box {
        color: $dark_color_link;
        a {
            color: $dark_color_link;
            &:hover {
                color: $dark_color_link_hover;
            }
        }
    }
}


/* Footer  Horizontal Menu */
.builder-item--footer-horizontal-menu {
    .nav-icon-angle, .sub-menu {
        display: none !important;
    }
}
