/************************
   Device Query
*************************/
/*
$gl-devices-list: (
    desktop: "screen and (min-width: 64em)", // up 1024px
    tablet: "screen and (max-width: 64em) and ( min-width: 35.5em )", // 568px - 1024px
    mobile: "screen and (max-width: 35.5em)" // from to 568px to smaller
) !default;
*/
.tophive_cookie_notice {
  text-align: center;
  padding: 0.666em 1.333em;
  background: #000;
  color: #fff;
  display: none;
  position: fixed;
  transition: all .3s ease;
  z-index: 1000;
}
@media screen and (max-width: 35.5em) {
  .tophive_cookie_notice {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 35.5em) {
  .tophive_cookie_notice .notice-content {
    display: block;
  }
}
.tophive_cookie_notice.tophive-cn-box {
  padding: 1.333em;
  max-width: 300px;
  text-align: left;
  border-radius: 3px;
}
.tophive_cookie_notice.tophive-cn-box .tophive-set-cookie.button {
  display: table;
  margin-left: 0;
  margin-top: 1.5em;
}
@media screen and (max-width: 35.5em) {
  .tophive_cookie_notice.tophive-cn-box .tophive-set-cookie.button {
    font-size: 0.95em;
  }
}
.tophive_cookie_notice.cn-position-top {
  top: 0;
  left: 0;
  right: 0;
}
.tophive_cookie_notice.cn-position-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.tophive_cookie_notice.cn-position-top-left {
  left: 1.333em;
  top: 1.333em;
}
.tophive_cookie_notice.cn-position-top-right {
  right: 1.333em;
  top: 1.333em;
}
.tophive_cookie_notice.cn-position-bottom-left {
  left: 1.333em;
  bottom: 1.333em;
}
.tophive_cookie_notice.cn-position-bottom-right {
  right: 1.333em;
  bottom: 1.333em;
}
.tophive_cookie_notice .tophive-set-cookie.button {
  display: inline-block;
  padding: 0.533em 1.666em;
  line-height: 1;
  min-height: auto;
  border-radius: 3px;
  margin-left: 1.333em;
  font-size: 0.8666em;
}
@media screen and (max-width: 35.5em) {
  .tophive_cookie_notice .tophive-set-cookie.button {
    margin-top: 0.5em;
    margin-left: 0;
  }
}
@media screen and (max-width: 48em) {
  .tophive_cookie_notice .tophive-set-cookie.button {
    font-size: 0.9em;
  }
}

.admin-bar .tophive_cookie_notice.cn-position-top-left, .admin-bar .tophive_cookie_notice.cn-position-top-right {
  top: 3.46666666667em;
}
.admin-bar .tophive_cookie_notice.cn-position-top {
  top: 0;
  z-index: 999999;
}

.tophive-has-cookie-bar .tophive_cookie_notice {
  display: block;
}
.tophive-has-cookie-bar .scrolltop {
  z-index: 1100;
}
