.tophive-mt-media {
    display: block;
}
.tophive-mt-media .tophive--add {
    display: block;
}
.tophive-mt-media .tophive--remove {
    display: none;
}
.tophive-mt-media .tophive-mt-media-preview {
    display: block;
}
.tophive-mt-media .tophive-image-preview img {
    max-width: 100%;
    height: auto;
}
.tophive-mt-media.attachment-added .tophive--add {
    display: none;
}
.tophive-mt-media.attachment-added .tophive--remove {
    display: block;
}

// ----
.select2-container {
    z-index: 999999999;
}
.wp-customizer {
    .select2-container {
        &.select2 {
            width: 100% !important;
        }
    }
}
.cond-wrapper {
    max-width: 900px;
    margin: 0 auto;
}
.cond-actions {
    text-align: center;
}
.cond-title {
    input {
        width: 100%;
        display: block;
        background: transparent;
        box-shadow: none;
        padding: 0px;
        font-size: 120%;
        font-weight: 600;
        border: 0px none;
    }
}
body .select2-dropdown {
    border-color: #ddd;
}

.cond-list {
    margin: 20px 0px;

    .cond-item {
        display: flex;
        flex-grow: 1;
        background: #fff;
        border: 1px solid #ededed;
        margin: 5px 0px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        padding: 0px 5px;
        select {
        }
        select, .select2-container--default .select2-selection--single {
            border: 1px solid #ddd;
            height: 30px;
            display: block;
            width: 100%;
        }
    }
    .cond-col {
        align-items: center;
        display: flex;
        padding: 10px 5px;
        &.col-type {
            select {
                width: auto;
            }
        }
    }
    .cond-lv-1, .cond-lv-2, .cond-lv-3 {
        flex-grow: 1;
        flex-basis: 30%;
    }
    .hide {
       display: none !important;
    }
    .cond-remove {
        text-decoration: none;
        color: currentColor;

    }
}
.cond-actions {
    &:after{
        content: ''; clear: both; display: block;
    }
    .cond-add {
        float: left;
    }
    .cond-save {
        float: right;
    }
}

.multiple-section-action {
    background: #fff;
    margin-top: 25px;
    padding: 12px 10px;
    position: relative;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

#cp-language-select-wrapper {
    position: absolute;
    left: 55px;
    top: 0px;
    img {
        vertical-align: middle;
        margin-right: 5px;
    }
    .current-lang {
        padding: 0px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    ul {
        background: #fff;
        display: none;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
        padding: 0px;
        margin: 0px 0px 0px -8px;
        li {
            line-height: 1.5;
            margin-bottom: 0px;
            cursor: pointer;
            padding: 5px 15px;
            &:hover {
                background: #ededed;
            }
        }
        span {
            display: inline-flex;
            align-items: center;
        }
    }
    &:hover {
        ul {
            display: block;
        }
    }
}

.cd-module-setting-link {
    display: inline-block;
    margin-top: 15px;
}



.doing-module-settings {
    .notice-area{
        display: none;
    }
}

#hook-conditional-div {
    .cond-title {
        display: none;
    }
    .button-primary{
        display: none;
    }
}

.tophive-hide {
    display: block;
    height: 0px;
    overflow: hidden;
}

.tophive-hide-none {
    display: none !important;
}

.cmt-align-label {
    display: flex;
    align-items: center;
    label {
        flex-basis: 30%;
    }

    .input-text {
        flex-basis: 60%;
    }
}

#hook-script-div{
    .box-inner {
        min-width: 255px;
        border: 1px solid #e5e5e5;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.04);
    }
    display: block;
    height: 0px;
    overflow: hidden;
    &.show{
       height: auto;
        overflow: initial;
    }

}
#hook-conditional-div {
    .cond-wrapper {
        max-width: 100%;
    }
}
.post-type-tophive_hook {
    #edit-slug-box {
        display: none !important;
    }
}


