/*
$gl-devices-list: (
    desktop: "screen and (min-width: 64em)", // up 1024px
    tablet: "screen and (max-width: 64em) and ( min-width: 35.5em )", // 568px - 1024px
    mobile: "screen and (max-width: 35.5em)" // from to 568px to smaller
) !default;
*/
/************************
   Device Query
*************************/
#masthead.sticky #masthead-inner {
  z-index: 60;
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  transform: translateY(-100%);
}
#masthead.sticky #masthead-inner > .header--row {
  display: none;
}
#masthead.sticky #masthead-inner > .header--row.header--sticky {
  display: block;
}
@media screen and (min-width: 1025px) {
  #masthead.sticky #masthead-inner > .header--row.header--sticky.hide-on-desktop,
  #masthead.sticky #masthead-inner > .header--row.header--sticky .tophive-grid .hide-on-desktop {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #masthead.sticky #masthead-inner > .header--row.header--sticky.hide-on-tablet,
  #masthead.sticky #masthead-inner > .header--row.header--sticky .tophive-grid .hide-on-tablet {
    display: none;
  }
}
@media screen and (min-width: 568px) {
  #masthead.sticky #masthead-inner > .header--row.header--sticky.hide-on-tablet_up,
  #masthead.sticky #masthead-inner > .header--row.header--sticky .tophive-grid .hide-on-tablet_up {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  #masthead.sticky #masthead-inner > .header--row.header--sticky.hide-on-mobile,
  #masthead.sticky #masthead-inner > .header--row.header--sticky .tophive-grid .hide-on-mobile {
    display: none;
  }
}
#masthead.sticky.sticky-active #masthead-inner {
  transition: all .3s;
  transform: translateY(0);
}
#masthead.sticky.sticky-active.sticky-hiding #masthead-inner {
  transform: translateY(-120%);
}
#masthead.sticky.sticky-active .header--row-inner {
  box-shadow: none;
}

.site-branding .site-img-logo-sticky {
  display: none;
}

.sticky .site-branding.has-sticky-logo .site-img-logo {
  display: none;
}
.sticky .site-branding.has-sticky-logo .site-img-logo-sticky {
  display: block;
}
