/*------------  Wordpress Widgets Styles  -------------*/

/*------------------------------------
------------- Gallery ---------------*/

.widget-area .gallery-columns-3 figure.gallery-item{
	margin: 5px;
	max-width: 30%;
}

.widget-area .gallery-columns-3 figure.gallery-item img{
	border-radius: 4px;
}
.footer--row-inner.dark-mode a:not(.button){
	text-decoration: none;
	border-bottom: 0px;
	position: relative;
    display: inline;
}
.widget-area .widget ul li{
	margin: 0px 0px 5px !important;
}
.widget-area .widget ul li a:hover{
	text-decoration: none;
}
.widget-area .widget ul li a:after{
    position: absolute;
    content: '';
    top: calc(100% - 10px);
    left: 0;
    width: 0px;
    height: 1px;
    transition: all 0.4s ease;
}
.widget-area .widget ul li a:hover:after{
    width: 100%;
}

.tophive-buddypress-groups .item-entry .list-wrap{
    overflow: hidden;
}
#buddypress .groups-list > li{
    margin-bottom: 0;
}
#buddypress .item-avatar img {
    transform: translate(var(--avatar-x, 0), var(--avatar-y, 0));
}
#buddypress .group-members-dp{
    margin-bottom: 30px;
}
