// clearfix helper
@mixin clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin rtl() {
    html[dir="rtl"] & {
        @content;
    }
}

// Skin mode
@function black($opacity) {
    @return rgba(black, $opacity)
}
@function white($opacity) {
    @return rgba(white, $opacity)
}


//$screen_lg: 80em;   // max 1280px
//$screen_md: 64em;   // max 1024px
//$screen_sm: 48em;   // max 768px
//$screen_xs: 35.5em; // up to 568px


/************************
   Device Query
*************************/

@mixin for_device( $device_name ){
    @if map-has-key( $gl-devices-list, $device_name) {
        @media #{map-get( $gl-devices-list, $device_name)} {
            @content;
        }
    }
}

@mixin for_touch(){
    .ontouch-screen & {
        @content;
    }
}
