/************************
   Device Query
*************************/
/*
$gl-devices-list: (
    desktop: "screen and (min-width: 64em)", // up 1024px
    tablet: "screen and (max-width: 64em) and ( min-width: 35.5em )", // 568px - 1024px
    mobile: "screen and (max-width: 35.5em)" // from to 568px to smaller
) !default;
*/
.lang-switcher {
  position: relative;
  display: inline-block;
}
.lang-switcher .lang-switcher-top {
  display: flex;
  align-items: center;
  color: currentColor;
  line-height: 1.6;
}
.lang-switcher img {
  margin-left: 5px;
}
.lang-switcher a {
  color: rgba(0, 0, 0, 0.6);
}
.lang-switcher ul {
  position: absolute;
  background: #fff;
  list-style: none;
  margin: 0 0px;
  padding: 0px;
  transform: translateY(40px);
  transition: all .3s ease;
  top: 100%;
  box-shadow: 0 3px 30px rgba(25, 30, 35, 0.1);
  border: 1px solid #eaecee;
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 65;
  min-width: 150px;
}
.lang-switcher li {
  text-align: right;
}
.lang-switcher.hide-lang-name ul {
  width: 50px;
  text-align: center;
}
.lang-switcher.hide-lang-name ul li a {
  padding: 8px 8px;
}
.lang-switcher.hide-lang-name a img {
  margin-left: 0px;
}
.lang-switcher.show-lang-code {
  text-transform: uppercase;
}
.lang-switcher.show-lang-code ul {
  width: 65px;
}
.lang-switcher.show-lang-code ul li a {
  padding: 8px 8px;
}
.lang-switcher li {
  list-style: none;
}
.lang-switcher li a {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.5);
}
.lang-switcher li a:hover, .lang-switcher li a.focus {
  background: rgba(0, 0, 0, 0.015);
  color: rgba(0, 0, 0, 0.8);
}
.lang-switcher li a, .lang-switcher .lang-switcher-top {
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.lang-switcher:hover ul, .lang-switcher.focus ul {
  height: auto;
  transform: translateY(0);
  overflow: initial;
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1025px) {
  .lang-switcher.align-desktop-left .lang-switcher-list {
    right: 0px;
  }
  .lang-switcher.align-desktop-right .lang-switcher-list {
    left: 0px;
    right: auto;
  }
}
@media screen and (max-width: 1024px) {
  .lang-switcher.align-tablet-left .lang-switcher-list {
    right: 0px;
  }
  .lang-switcher.align-tablet-right .lang-switcher-list {
    left: 0px;
    right: auto;
  }
}
@media screen and (max-width: 568px) {
  .lang-switcher.align-mobile-left .lang-switcher-list {
    right: 0px;
  }
  .lang-switcher.align-mobile-right .lang-switcher-list {
    left: 0px;
    right: auto;
  }
}

.builder-contact--item {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: 15px;
}
@media screen and (min-width: 1025px) {
  .builder-contact--item.cont-desktop-vertical {
    display: block;
  }
}
@media screen and (max-width: 568px) {
  .builder-contact--item.cont-mobile-vertical {
    display: block;
  }
}
.builder-contact--item li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.builder-contact--item li:last-child {
  margin-left: 0px;
}
.builder-contact--item li a, .builder-contact--item li span {
  display: flex;
  align-items: center;
}
.builder-contact--item .c-icon {
  margin-left: 5px;
  padding: 1em;
  line-height: 1;
  position: relative;
}
.builder-contact--item .c-icon:before {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.cont-desktop-vertical .icon-box-item {
  margin-bottom: 1em;
}
.cont-desktop-vertical .icon-box-item:last-child {
  margin-bottom: 0px;
}

.header-menu-sidebar .cont-mobile-vertical li {
  display: block;
  margin-bottom: 1em;
}
.header-menu-sidebar .cont-mobile-vertical li:last-child {
  margin-bottom: 0;
}
.header-menu-sidebar .cont-mobile-vertical li a, .header-menu-sidebar .cont-mobile-vertical li span {
  display: inline-flex;
}

.header-menu-sidebar .hca-sidebar-vertical.builder-contact--item {
  display: block;
}

/* Icon Box */
.icon-box {
  display: inline-flex;
  list-style: none;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.icon-box .icon-box-item {
  display: inline-flex;
  align-items: center;
  margin-left: 25px;
  font-size: 15px;
}
.icon-box .icon-box-item:last-child {
  margin-left: 0px;
}
.icon-box .icon-box-item .icon-box-inner {
  display: flex;
  align-items: center;
}
.icon-box .icon-box-item .icon-box-icon {
  align-items: center;
  font-size: 1.8em;
  margin-left: 15px;
}
.icon-box .icon-box-item .icon-box-flex {
  display: inline-flex;
}
.icon-box .icon-box-item .icon-box-label {
  flex-direction: column;
  text-align: right;
}
html[dir="rtl"] .icon-box .icon-box-item .icon-box-label {
  order: 2;
}
.icon-box .icon-box-item .icon-box-label span {
  display: block;
  margin-bottom: 0px;
}
.icon-box .icon-box-item .icon-box-label span:last-child {
  margin-bottom: 0px;
}
.icon-box .icon-box-item .icon-box-title {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.3px;
}
.icon-box .icon-box-item .icon-box-sub-title {
  font-weight: 600;
  margin-top: -2px;
}
@media screen and (min-width: 35.5em) {
  .icon-box.cont-desktop-vertical {
    display: block;
  }
  .icon-box.cont-desktop-vertical li {
    display: flex;
    margin-left: 0px;
  }
}
@media screen and (max-width: 35.5em) {
  .icon-box.cont-mobile-vertical {
    display: block;
  }
  .icon-box.cont-mobile-vertical li {
    display: flex;
    margin-left: 0px;
  }
}

.header-menu-sidebar .hca-sidebar-vertical.icon-box {
  display: block;
}
.header-menu-sidebar .hca-sidebar-vertical.icon-box li {
  display: block;
  margin-left: 0px;
  margin-bottom: 1em;
}
.header-menu-sidebar .hca-sidebar-vertical.icon-box li:last-child {
  margin-bottom: 0;
}
.header-menu-sidebar .hca-sidebar-vertical.icon-box li .icon-box-inner {
  display: inline-flex;
}

.header--row-inner.dark-mode .builder-contact--item,
.header--row-inner.dark-mode .icon-box {
  color: rgba(255, 255, 255, 0.79);
}
.header--row-inner.dark-mode .builder-contact--item a,
.header--row-inner.dark-mode .icon-box a {
  color: rgba(255, 255, 255, 0.79);
}
.header--row-inner.dark-mode .builder-contact--item a:hover,
.header--row-inner.dark-mode .icon-box a:hover {
  color: rgba(255, 255, 255, 0.99);
}

.header--row-inner.light-mode .builder-contact--item,
.header--row-inner.light-mode .icon-box {
  color: rgba(0, 0, 0, 0.5);
}
.header--row-inner.light-mode .builder-contact--item a,
.header--row-inner.light-mode .icon-box a {
  color: rgba(0, 0, 0, 0.5);
}
.header--row-inner.light-mode .builder-contact--item a:hover,
.header--row-inner.light-mode .icon-box a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* Footer  Horizontal Menu */
.builder-item--footer-horizontal-menu .nav-icon-angle, .builder-item--footer-horizontal-menu .sub-menu {
  display: none !important;
}
