/************************
   Device Query
*************************/
/*
$gl-devices-list: (
    desktop: "screen and (min-width: 64em)", // up 1024px
    tablet: "screen and (max-width: 64em) and ( min-width: 35.5em )", // 568px - 1024px
    mobile: "screen and (max-width: 35.5em)" // from to 568px to smaller
) !default;
*/
.is-header-transparent #masthead {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 60;
}
.is-header-transparent #page-cover #page-breadcrumb.breadcrumb--after_header {
  padding-top: 0;
  background-color: transparent;
}
.is-header-transparent #page-cover #page-breadcrumb.breadcrumb--inside {
  background-color: transparent;
}

.site-branding .site-img-logo-tran {
  display: none;
}

.is-header-transparent .header--transparent .nav-menu-desktop.style-border-top .nav-menu > li:hover > a .link-before:before,
.is-header-transparent .header--transparent .nav-menu-desktop.style-border-top .nav-menu > li:focus > a .link-before:before,
.is-header-transparent .header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li:hover > a .link-before:before,
.is-header-transparent .header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li:focus > a .link-before:before,
.is-header-transparent .header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li.current-menu-item > a .link-before:before,
.is-header-transparent .header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li.current-menu-ancestor > a .link-before:before {
  background-color: currentColor;
}
.is-header-transparent .header--transparent .site-branding.has-tran-logo .site-img-logo {
  display: none;
}
.is-header-transparent .header--transparent .site-branding.has-tran-logo .site-img-logo-tran {
  display: block;
}
.is-header-transparent .sticky-active .header--transparent .site-branding.has-tran-logo .site-img-logo {
  display: none;
}
.is-header-transparent .sticky-active .header--transparent .site-branding.has-tran-logo.no-sticky-logo .site-img-logo {
  display: block;
}
.is-header-transparent .sticky-active .header--transparent .site-branding.has-tran-logo .site-img-logo-tran {
  display: none;
}
.is-header-transparent .sticky-active .header--transparent .site-branding.has-tran-logo .site-img-logo-sticky {
  display: block;
}

.header--row.header--transparent .dark-mode,
.header--row.header--transparent .light-mode {
  background: transparent !important;
  box-shadow: none;
}

.header--row.header--transparent .light-mode,
.header--row.header--transparent {
  color: rgba(255, 255, 255, 0.99);
}
.header--row.header--transparent .light-mode .builder-contact--item,
.header--row.header--transparent .builder-contact--item {
  color: rgba(255, 255, 255, 0.99);
}
.header--row.header--transparent .light-mode .nav-menu-desktop.style-border-top .nav-menu > li > a:hover, .header--row.header--transparent .light-mode .nav-menu-desktop.style-border-top .nav-menu > li > a:focus, .header--row.header--transparent .light-mode .nav-menu-desktop.style-border-bottom .nav-menu > li > a:hover, .header--row.header--transparent .light-mode .nav-menu-desktop.style-border-bottom .nav-menu > li > a:focus, .header--row.header--transparent .light-mode .nav-menu-desktop.style-full-height .nav-menu > li > a:hover, .header--row.header--transparent .light-mode .nav-menu-desktop.style-full-height .nav-menu > li > a:focus, .header--row.header--transparent .light-mode .nav-menu-desktop.style-plain .nav-menu > li > a:hover, .header--row.header--transparent .light-mode .nav-menu-desktop.style-plain .nav-menu > li > a:focus,
.header--row.header--transparent .nav-menu-desktop.style-border-top .nav-menu > li > a:hover,
.header--row.header--transparent .nav-menu-desktop.style-border-top .nav-menu > li > a:focus,
.header--row.header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li > a:hover,
.header--row.header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li > a:focus,
.header--row.header--transparent .nav-menu-desktop.style-full-height .nav-menu > li > a:hover,
.header--row.header--transparent .nav-menu-desktop.style-full-height .nav-menu > li > a:focus,
.header--row.header--transparent .nav-menu-desktop.style-plain .nav-menu > li > a:hover,
.header--row.header--transparent .nav-menu-desktop.style-plain .nav-menu > li > a:focus {
  color: rgba(255, 255, 255, 0.99);
  background: transparent;
}
.header--row.header--transparent .light-mode .nav-menu-desktop.style-border-top .nav-menu > li.current-menu-item > a, .header--row.header--transparent .light-mode .nav-menu-desktop.style-border-top .nav-menu > li.current-menu-ancestor > a, .header--row.header--transparent .light-mode .nav-menu-desktop.style-border-bottom .nav-menu > li.current-menu-item > a, .header--row.header--transparent .light-mode .nav-menu-desktop.style-border-bottom .nav-menu > li.current-menu-ancestor > a, .header--row.header--transparent .light-mode .nav-menu-desktop.style-full-height .nav-menu > li.current-menu-item > a, .header--row.header--transparent .light-mode .nav-menu-desktop.style-full-height .nav-menu > li.current-menu-ancestor > a, .header--row.header--transparent .light-mode .nav-menu-desktop.style-plain .nav-menu > li.current-menu-item > a, .header--row.header--transparent .light-mode .nav-menu-desktop.style-plain .nav-menu > li.current-menu-ancestor > a,
.header--row.header--transparent .nav-menu-desktop.style-border-top .nav-menu > li.current-menu-item > a,
.header--row.header--transparent .nav-menu-desktop.style-border-top .nav-menu > li.current-menu-ancestor > a,
.header--row.header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li.current-menu-item > a,
.header--row.header--transparent .nav-menu-desktop.style-border-bottom .nav-menu > li.current-menu-ancestor > a,
.header--row.header--transparent .nav-menu-desktop.style-full-height .nav-menu > li.current-menu-item > a,
.header--row.header--transparent .nav-menu-desktop.style-full-height .nav-menu > li.current-menu-ancestor > a,
.header--row.header--transparent .nav-menu-desktop.style-plain .nav-menu > li.current-menu-item > a,
.header--row.header--transparent .nav-menu-desktop.style-plain .nav-menu > li.current-menu-ancestor > a {
  color: rgba(255, 255, 255, 0.99);
  background: transparent;
}
.header--row.header--transparent .light-mode .site-title,
.header--row.header--transparent .light-mode .site-title a,
.header--row.header--transparent .site-title,
.header--row.header--transparent .site-title a {
  color: rgba(255, 255, 255, 0.99);
}
.header--row.header--transparent .light-mode .tophive-builder-social-icons.color-custom li a,
.header--row.header--transparent .light-mode .search-icon,
.header--row.header--transparent .light-mode .menu-mobile-toggle,
.header--row.header--transparent .light-mode .nav-menu > li > a,
.header--row.header--transparent .light-mode .icon-box a,
.header--row.header--transparent .light-mode .builder-contact--item a,
.header--row.header--transparent .light-mode .item--html a,
.header--row.header--transparent .tophive-builder-social-icons.color-custom li a,
.header--row.header--transparent .search-icon,
.header--row.header--transparent .menu-mobile-toggle,
.header--row.header--transparent .nav-menu > li > a,
.header--row.header--transparent .icon-box a,
.header--row.header--transparent .builder-contact--item a,
.header--row.header--transparent .item--html a {
  color: rgba(255, 255, 255, 0.79);
}
.header--row.header--transparent .light-mode .tophive-builder-social-icons.color-custom li a:hover,
.header--row.header--transparent .light-mode .search-icon:hover,
.header--row.header--transparent .light-mode .menu-mobile-toggle:hover,
.header--row.header--transparent .light-mode .nav-menu > li > a:hover,
.header--row.header--transparent .light-mode .icon-box a:hover,
.header--row.header--transparent .light-mode .builder-contact--item a:hover,
.header--row.header--transparent .light-mode .item--html a:hover,
.header--row.header--transparent .tophive-builder-social-icons.color-custom li a:hover,
.header--row.header--transparent .search-icon:hover,
.header--row.header--transparent .menu-mobile-toggle:hover,
.header--row.header--transparent .nav-menu > li > a:hover,
.header--row.header--transparent .icon-box a:hover,
.header--row.header--transparent .builder-contact--item a:hover,
.header--row.header--transparent .item--html a:hover {
  color: rgba(255, 255, 255, 0.99);
}
.header--row.header--transparent .light-mode .cart-item-link,
.header--row.header--transparent .cart-item-link {
  color: rgba(255, 255, 255, 0.79);
}
.header--row.header--transparent .light-mode .cart-item-link .cart-icon,
.header--row.header--transparent .cart-item-link .cart-icon {
  color: rgba(255, 255, 255, 0.99);
}
.header--row.header--transparent .light-mode .cart-item-link:hover,
.header--row.header--transparent .cart-item-link:hover {
  color: rgba(255, 255, 255, 0.99);
}
.header--row.header--transparent .light-mode .header-search_box-item .search-field,
.header--row.header--transparent .header-search_box-item .search-field {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.79);
}
.header--row.header--transparent .light-mode .header-search_box-item .search-field::placeholder,
.header--row.header--transparent .header-search_box-item .search-field::placeholder {
  color: rgba(255, 255, 255, 0.79);
}
.header--row.header--transparent .light-mode .header-search_box-item .search-submit,
.header--row.header--transparent .header-search_box-item .search-submit {
  color: rgba(255, 255, 255, 0.79);
}
.header--row.header--transparent .light-mode .header-search_box-item .search-submit:hover,
.header--row.header--transparent .header-search_box-item .search-submit:hover {
  color: rgba(255, 255, 255, 0.99);
}
